{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    
	<!-- Formulaire de changement de mot de passe -->

    <div class="row">
		<div class="col-lg-offset-2 col-lg-4 justify" >
			<b>MdP actuel:</b>
		</div>
		<div class="col-lg-4 justify" >
			{{ form_widget(form.current_password) }}
		</div>
	</div>
	<br>	
    <div class="row">
		<div class="col-lg-offset-2 col-lg-4 justify" >
			<b>MdP:</b>
		</div>
		<div class="col-lg-4 justify" >
			{{ form_widget(form.plainPassword) }}
		</div>
	</div>
	
	{{form_rest(form)}}
	<br>
    <div>
        <input type="submit" value="Changer MdP" />
    </div>
{{ form_end(form) }}
