{% extends "::base.html.twig" %}

{% block menu %}

<div class="col-lg-2">
	
	<ul class="nav nav-pills nav-stacked">

		{% if app.user == 'admin' %}

		<li role="presentation"><a href="{{ path('tbs_delete_list_user') }}">Supprimer un client</a></li>

		{% elseif app.user == 'ca' %}

		<li><a href="{{ path('tbs_index') }}">Commandes</a></li>
		<li><a href="{{ path('tbs_add_stock') }}">Ajouter un stock</a></li>
		<li><a href="{{ path('tbs_stocks') }}">Modifier un stock</a></li>
		<li><a href="{{ path('tbs_add_product') }}">Ajouter un produit</a></li>
		<li><a href="{{ path('tbs_products') }}">Modifier un produit</a></li>

		{% elseif app.user != null %}
		<li role="presentation"><a href="{{ path('tbs_add_basket',{ id: app.user.id}) }}">Commander</a></li>
		{% endif %}
	</ul>
</div>

{% endblock menu %}

{% block mainzone %}

<div class="col-lg-8 mainzone">
	<div class="subzone col-lg-10 col-lg-offset-1">
	{% block subzone %}


	{% endblock %}
	</div>
</div>

{% endblock mainzone %}

{% block options %}

<div class="col-lg-2">

	{% if app.user != null %}
	<div class="row">
		<a href="{{path('fos_user_profile_edit')}}"><span class="glyphicon glyphicon-user topoption"></span></a>
		<span class="glyphicon glyphicon-stats topoption" style="color:white;"></span>
		<a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off topoption"></span></a>
	</div>

	{% endif %}

</div>

{% endblock options %}

{% block footer %}
    <div class="row footer">

    </div>
{% endblock footer %}