{% extends "::base.html.twig" %}

{% block menu %}

<div class="col-lg-2">
	
	<div class="row">

		{% if app.user == 'admin' %}

		<a href="{{ path('tbs_delete_list_user') }}"><span class="glyphicon glyphicon-search leftoption"></span></a>

		{% elseif app.user == 'ca' %}

		<div class="leftoption">
			<a href="{{ path('tbs_index') }}"><span class="glyphicon glyphicon-list-alt"></span></a>
		</div>

		<div class="leftoption">
			<a href="{{ path('tbs_stocks') }}"><span class="glyphicon glyphicon glyphicon-qrcode"></span></a>
			<a href="{{ path('tbs_add_stock') }}"><span class="glyphicon glyphicon glyphicon-plus-sign"></span></a>
		</div>

		<div class="leftoption">
			<a href="{{ path('tbs_products') }}"><span class="glyphicon glyphicon-glass"></span></a>
			<a href="{{ path('tbs_add_product') }}"><span class="glyphicon glyphicon glyphicon-plus-sign"></span></a>
		</div>

		{% elseif app.user != null %}
		
		<a href="{{ path('tbs_index') }}"><span class="glyphicon glyphicon-home leftoption"></span></a>
		<a href="{{ path('tbs_add_basket',{ id: app.user.id}) }}"><span class="glyphicon glyphicon-shopping-cart leftoption"></span></a>

		{% endif %}
	</div>
</div>

{% endblock menu %}

{% block mainzone %}

<div class="col-lg-8 mainzone">
	<div class="subzone col-lg-10 col-lg-offset-1">
	{% block subzone %}

	{% endblock %}
	</div>
</div>

{% endblock mainzone %}

{% block options %}

<div class="col-lg-2">

	{% if app.user != null %}
	<div class="row">
		<a href="{{ path('fos_user_profile_edit')}}"><span class="glyphicon glyphicon-user topoption"></span></a>
		<a href="{{ path('tbs_stats')}}"><span class="glyphicon glyphicon-stats topoption"></span></a>
		<a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off topoption"></span></a>
	</div>

	{% endif %}

</div>

{% endblock options %}

{% block footer %}
    <div class="row footer">

    </div>
{% endblock footer %}