{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	{# <h1>Ajouter un produit</h1> #}

	<h1>Passer une commande</h1>
	<table>		
	<h2>Votre panier</h2>
	<br>
	{% set count = 0 %}
	{% if orderlines != NULL %}
		{% for orderline in orderlines %}
				<td>
					{{orderline.olQtt}} x {{orderline.pId}}</h3>

					{% set count = count + orderline.olQtt %}
					
				</td>
		{% endfor %}
	{% endif %}
		</tr>
	
	</table>
	<br>
	<form action="{{path("tbs_add_orderline", { id: basket.BId}) }}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3">
				Quantit&eacute;:
			</div>
			<div class="col-lg-3">
				{{ form_widget(form2.olQtt, { 'id': 'nb_item','value' : null }) }}
<<<<<<< HEAD
				{% if form2.vars.value.olQtt > 4 and form2.vars.value.olQtt != null %}
					<h8>Quantité doit être inférieure à 5</h8>
				{% endif %}	
				{% if form2.vars.value.olQtt <= 0 and form2.vars.value.olQtt != null %}
					<h8>Quantité doit être supérieure à 0</h8>
				{% endif %}


=======
>>>>>>> origin/master
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3">
				Produit:
			</div>
			<div class="col-lg-3">
				{{ form_widget(form2.pId, {'value' : null}) }}
			</div>
		</div>
		{{form_rest(form2)}}
		<br>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<input type="submit" value="Ajouter un autre produit">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				{% for location in locations %}

					{% if location.lName == basket.lId.__toString() %}

						<input type='hidden' id='posx' value={{location.lX}}>
						<input type='hidden' id='posy' value={{location.lY}}>
						<input type='hidden' id='name' value={{basket.Id}}>
						<input type='hidden' id='count' value={{count}}>

					{% endif %}	

				{% endfor %}

				<input id="command" type="submit" name="final" value="Finaliser la commande">
			</div>
		</div>
	</form>

{% endblock %}