{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	<h1>Ajouter un produit</h1>

	<form action="{{path("tbs_add_orderline", { id: basket.BId}) }}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3">
				Quantit&eacute;:
			</div>
			<div class="col-lg-3">
				{{ form_widget(form2.olQtt) }}

			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3">
				Produit:
			</div>
			<div class="col-lg-3">
				{{ form_widget(form2.pId) }}
			</div>
		</div>
		{{form_rest(form2)}}
		<br>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<input type="submit" value="Ajouter un autre produit">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				{% for location in locations %}

					{% if location.lName == basket.lId.__toString() %}

						<input type='hidden' id='posx' value={{location.lX}}>
						<input type='hidden' id='posy' value={{location.lY}}>
						<input type='hidden' id='name' value={{basket.Id}}>
						<input type='hidden' id='nb_item' value={{ form2.vars.value.olQtt }}>

						{# {{ form2.vars.value.olQtt }} #}

					{% endif %}	

				{% endfor %}
				<input id="command" type="submit" name="final" value="Finaliser la commande">
			</div>
		</div>
	</form>

{% endblock %}