{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}
	
	<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
	<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ asset('js/javascript.js')}}"></script>

	<h1>Passer une commande</h1>

	<h3>Votre panier</h3>
	{% for orderline in orderlines %}
			<article>
				<header>
					<h3>Produit: {{orderline.pId}} Quantité: {{orderline.olQtt}} </h3>
				</header>
			</article>
	{% endfor %}

	<form action="{{path("tbs_add_orderline", { id: basket.BId}) }}" method="post" enctype="multipart/form-data">
		
		{{ form_widget(form2.olQtt, {'value' : '0'}) }}
		{{ form_widget(form2.pId) }}
		{{form_rest(form2)}}

		<input type="submit" value = "Ajouter un autre produit">
		{% for location in locations %}

					{% if location.lName == basket.lId.__toString() %}

							
						<input type='hidden' id='posx' value={{location.lX}}> </input> 

						<input type='hidden' id='posy' value={{location.lY}}> </input>

						<input type='hidden' id='name' value={{basket.Id}}> </input>


					{% endif %}	

		{% endfor %}
		<input id='command' type="submit" name="final" value ="Finaliser la commande">

	</form>


{% endblock %}