{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}
	
	<h1>Passer une commande</h1>
	<table>		
		<h2>Votre panier</h2>

		{% set count = 0 %}

	{% for orderline in orderlines %}
			<td>
				{{orderline.olQtt}} x {{orderline.pId}}</h3>

				{% set count = count + orderline.olQtt %}
				{{orderline.olQtt}}
				{{count}}
			</td>
	{% endfor %}
		</tr>
	</table>
	<br>
	<form action="{{path("tbs_add_orderline", { id: basket.BId}) }}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3">
				Quantit&eacute;:
			</div>
			<div class="col-lg-3">
				{{ form_widget(form2.olQtt, {'id': 'nb_item','value' : '0'}) }}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3">
				Produit :
			</div>
			<div class="col-lg-3">
				{{ form_widget(form2.pId) }}
			</div>
		</div>

		{{form_rest(form2)}}
		<br>
		<input type="submit" value = "Ajouter un autre produit">
		{% for location in locations %}

					{% if location.lName == basket.lId.__toString() %}

						<input type='hidden' id='posx' value={{location.lX}}>
						<input type='hidden' id='posy' value={{location.lY}}>
						<input type='hidden' id='name' value={{basket.Id}}>
						<input type='hidden' id='count' value={{count}}>

						{# {% set foo = form2.vars.value.olQtt + count %}
						{{ foo }} #}
						

					{% endif %}	

		{% endfor %}
		<input id='command' type="submit" name="final" value ="Finaliser la commande">

	</form>


{% endblock %}