{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	<h1>Passer une commande</h1>

	<h3>Votre panier</h3>
	{% for orderline in orderlines %}
			<article>
				<header>
					<h3>Produit: {{orderline.pId}} Quantité: {{orderline.olQtt}} </h3>
				</header>
			</article>
	{% endfor %}

	<form action="{{path("tbs_add_orderline", { id: basket.BId}) }}" method="post" enctype="multipart/form-data">
		
		{{ form_widget(form2.olQtt, {'value' : '0'}) }}
		{{ form_widget(form2.pId) }}
		{{form_rest(form2)}}

		<input type="submit" value = "Ajouter un autre produit">
		<input type="submit" name="final" value ="Finaliser la commande">

	</form>


{% endblock %}