{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	{% if (app.user == 'ca') %}
		<h1>Stocks à recharger</h1>
		{% for stock in stocks %}
			{% if stock.sTotal == 0 %}
				Produit : {{stock.sName}} <a href="{{ path('tbs_edit_stock', {id:stock.sId}) }}"><span class="glyphicon glyphicon-pencil useraction"></span></a>
			{% endif %} 

		{% endfor %}
		<h1>Les commandes</h1>
		



		{% for basket in baskets %}
			{% if basket.bStatus == "sent" %}
				Numéro de commmande: {{basket.bId}} <a href="{{ path('tbs_indexca', {id:basket.bId}) }}"><span class="useraction">Valider</span></a><br>
				{% for order in orders %}
					{% if order.bId.__toString() == basket.bId %}
						Boisson: {{order.pId}}<br>
						Quantité: {{order.olQtt}}<br>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}







	{% endif %}

{% endblock %}