{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	{% if (app.user == 'ca') %}
		<h1>Stocks à recharger</h1>
		{% for stock in stocks %}
			Produit : {{stock.sName}} <a href="{{ path('tbs_edit_stock', {id:stock.sId}) }}"><span class="glyphicon glyphicon-pencil useraction"></span></a>
		{% endfor %}


		<br>
		{# Affichage des commandes en cours #}
		<h1>Les commandes</h1>
		
		<div id="list">
			{% set bId = 0 %}

			{% for basket in baskets %}
				<table class="widetable">
					<tr>	
						<th>
							Numéro de commande: {{basket.bId}}
						</th>

						{% for order in orders %}
							{% if order.bId.__toString() == basket.bId %}
								<td>{{order.olQtt}} X {{order.pId}}</td>
							{% endif %}
						{% endfor %}
						
						{% set bId = basket.bId %}

					</tr>

				</table>
				<br>
			{% endfor %}

			{% if (bId != 0 ) %}

				<form action="{{ path('tbs_indexca', {id:bId}) }}" method="post" enctype="multipart/form-data">
					<input id="validate_drink" type="submit"/>
				</form>
			{% endif %}
			
		</div>
			

	{% elseif app.user=='admin' %}
		
	{% else %}

		{% set nb_lines = 0  %}
		<!-- Si l'utilisateur a déjà passé commande -->
		{% if userBaskets != NULL %}
			
			<br>
			<!-- On check sa liste de commandes -->

			{% for userBasket in userBaskets %}

				<!-- On affiche les états envoyés ou en cours de livraison -->

				{% if (userBasket.bStatus == 'sent') or (userBasket.bStatus == 'ongoing') %}

					{% set nb_lines = nb_lines + 1  %}
					
					<br>
					<table class="widetable">
						<tr>	
							<th>
								Numéro de commande: {{userBasket.bId}}
							</th>

							{% for order in orders %}
								{% if order.bId.__toString() == userBasket.bId %}
									<td>{{order.olQtt}} X {{order.pId}}</td>
								{% endif %}
							{% endfor %}

							<th>
								Etat :
								{% if userBasket.bStatus == 'sent' %}
									Envoyée
								{% elseif userBasket.bStatus == 'ongoing' %}
									En cours de livraison
								{% endif %}

							</th>
						</tr>

					</table>

					<br>

					<!-- La confirmation de la commande se fait à l'aide d'un bouton -->

					{% if userBasket.bStatus == 'ongoing' %}
						<a id='done' href="{{ path('tbs_received_basket', {id:userBasket.bId}) }}"><p class="useraction">Confirmation</p></a>
					{% endif %}

				{% endif %}

			{% endfor %}

		{% endif %}

		{% if nb_lines == 0 %}

			<h1>Vous n'avez pas de commande en cours</h1>

		{% endif %}

	{% endif %}

{% endblock %}