{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	{% if (app.user == 'ca') %}
		<h1>Stocks à recharger</h1>
		{% for stock in stocks %}
			Produit : {{stock.sName}} <a href="{{ path('tbs_edit_stock', {id:stock.sId}) }}"><span class="glyphicon glyphicon-pencil useraction"></span></a>
		{% endfor %}
		<br>
		<h1>Les commandes</h1>
		
			<div id="list">
				{% set bId = 0 %}

				{% for basket in baskets %}
				<table>
					<tr>	
						<th>
							Numéro de commande: {{basket.bId}}
						</th>

						{% for order in orders %}
							{% if order.bId.__toString() == basket.bId %}
								<td>{{order.olQtt}} X {{order.pId}}</td>
							{% endif %}
						{% endfor %}
						
						{% set bId = basket.bId %}

					</tr>

				</table>
				<br>
			{% endfor %}

			{% if (bId != 0 ) %}

				<form action="{{ path('tbs_indexca', {id:bId}) }}" method="post" enctype="multipart/form-data">
					<input id="validate_drink" type="submit"/>
				</form>
			{% endif %}
			
			</div>
			
			<!--<script type="text/javascript">
				var auto_refresh = setInterval(
				  function ()
				  {
				   $("#list").load(location.href + " #list");
				  }, 5000); // rafraichis toutes les 10000 millisecondes
			</script>-->

	{% elseif app.user=='admin' %}
		
	{% else %}
		
	{% endif %}

	

{% endblock %}