{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

{% if app.user == 'ca' %}
	<br>
	<h2>Tableau des produits commandés</h2>
	<br>
		<table>
		{% for stringsById in stat_array %}	
	  		<tr>
	  			{% for string in stringsById %}
	    			<td>{{ string }} </td>
	  			{% endfor %}
	  		</tr>
		{% endfor %}
		</table>
	<br>
{% endif %}

{% if app.user == 'admin' %}
	<br>
	<h2>Données générales</h2>
	Nombre d'utilisateurs : {{ nb_clients }}
{% endif %}
<br><br>

{% endblock subzone %}

{% block options %}

	<div class="col-lg-2">

		{% if app.user != null %}

		<div class="row">
			<a href="{{ path('fos_user_profile_edit')}}"><span class="glyphicon glyphicon-user topoption"></span></a>
			<a href="{{ path('tbs_stats')}}"><span class="glyphicon glyphicon-stats topoption"></span></a>
			<a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off topoption"></span></a>
		</div>

		{% endif %}

	</div>

{% endblock options %}

{% block footer %}
    <div class="row footer">

    </div>
{% endblock footer %}