{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="{{ asset('jqplot/jquery.min.js')}}"></script>

<script src="{{ asset('jqplot/jquery.jqplot.min.js')}}"></script>


<link href="{{ asset('jqplot/jquery.jqplot.css') }}" rel="stylesheet">

<script src="{{ asset('jqplot/plugins/jqplot.pieRenderer.js')}}"></script>


<script type="text/javascript">

$(document).ready(function(){ 

    var plot8 = $.jqplot('pie8', [{{stat_array|json_encode|raw}}], {
        grid: {
            drawBorder: false, 
            drawGridlines: false,
            background: '#ffffff',
            shadow:false
        },
        axesDefaults: {

        },
        seriesDefaults:{
            renderer:$.jqplot.PieRenderer,
            rendererOptions: {
                showDataLabels: true
            }
        },
        legend: {
            show: true,
            rendererOptions: {
                numberRows: 1
            },
            location: 's'
        }
    }); 
});


</script>
{% if app.user == 'ca' %}

<br>
<h2>Tableau des produits commandés</h2>
<br>
<table>
	{% for stringsById in stat_array %}	
    <tr>
       {% for string in stringsById %}
       <td>{{ string }} </td>
       {% endfor %}
   </tr>
   {% endfor %}
</table>


<br>


<div id="pie8"></div>

{% endif %}

{% endblock subzone %}


{% block options %}

<div class="col-lg-2">

  {% if app.user != null %}

  <div class="row">
     <a href="{{ path('fos_user_profile_edit')}}"><span class="glyphicon glyphicon-user topoption"></span></a>
     <a href="{{ path('tbs_stats')}}"><span class="glyphicon glyphicon-stats topoption"></span></a>
     <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off topoption"></span></a>
 </div>

 {% endif %}

</div>

{% endblock options %}

{% block footer %}
<div class="row footer">

</div>
{% endblock footer %}